################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Engloba.LetsEncrypt.HttpChallenge/v16
